{
  "extends": ["eslint:recommended", "prettier"],
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "es6": true
  }
}
